<ngx-datatable
	#inspectionTable
	class="material expandable"
	[rows]="inspectionItems"
	[columnMode]="'flex'"
	[loadingIndicator]="showProgress"
	[headerHeight]="50"
	[footerHeight]="50"
	[rowHeight]="'auto'"
	[reorderable]="false"
	[selectionType]="'single'"
	(select)='onSelect($event)'>
	<ngx-datatable-row-detail [rowHeight]="'auto'">
		<ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
			<div fxLayout="column" *ngIf="row.CannedResponses && row.CannedResponses.length > 0">
				<div class="mat-body-2">Description</div>

				<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px"
				     *ngFor="let cannedResponse of row.CannedResponses">
					<div *ngIf="!cannedResponse.Description">{{cannedResponse.Response}}</div>
					<div>{{cannedResponse.Description}}</div>
					<a *ngIf="cannedResponse.Url" mat-button href="{{cannedResponse.Url}}" target="_blank">
						<mat-icon color="accent">help_outline</mat-icon>
					</a>
				</div>
			</div>

			<div fxLayout="column" *ngIf="row.Note">
				<div class="mat-body-2">Pro-Tech says</div>
				<i><q>{{row.Note}}</q></i>
			</div>

			<div fxLayout="row">
				<button *ngIf="row.Measurements && row.Measurements.length > 0"
				        color="accent"
				        mat-button
				        (click)="openMeasurementsDialog(row)">
					View Measurements
				</button>
				<div fxFlex></div>
				<button *ngIf="row.Images && row.Images.length > 0"
				        color="accent"
				        mat-button
				        (click)="openGallery()">
					View Images
					<mat-icon color="accent">photo_library</mat-icon>
				</button>
			</div>
		</ng-template>
	</ngx-datatable-row-detail>

	<!-- Min-width must be at least 115 px to fit 'Should watch' without wrapping -->
	<ngx-datatable-column
			name="Condition"
			prop="Condition"
			[flexGrow]="0"
			[minWidth]="115"
			[resizeable]="false"
			[sortable]="false"
			[draggable]="false">
		<ng-template let-value="value" let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
			<div fxLayout="row" fxLayoutAlign="center center">
				<div style="width: 24px" class="row-detail-spacer"></div>

				<ma-recommeneded-service-severity [severity]="value"></ma-recommeneded-service-severity>
			</div>

			<a
				href="javascript:void(0)"
				*ngIf="hasDetails(row)"
				[class.datatable-icon-down]="!expanded"
				[class.datatable-icon-up]="expanded"
				title="Expand/Collapse Row"
				(click)="toggleExpandRow(row)">
			</a>
		</ng-template>
	</ngx-datatable-column>
	<ngx-datatable-column
			name="Name"
			prop="Name"
			[flexGrow]="1"
			[resizeable]="false"
			[sortable]="false"
			[draggable]="false">
	</ngx-datatable-column>
</ngx-datatable>

<ma-image-gallery [images]="selectedImages"></ma-image-gallery>
