<div class="mat-subheading-2">Customer concerns</div>
<mat-card *ngFor="let item of customerConcernInspectionItems">
	<mat-card-content>
		<div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
			<ma-recommeneded-service-severity [severity]="item.Condition"></ma-recommeneded-service-severity>
			<div class="mat-body-2">{{item.Name}}</div>
		</div>

		<ma-inspection-report-item
				[inspectionItem]="item"
				[isCondensed]="true">
		</ma-inspection-report-item>
	</mat-card-content>
</mat-card>
