:host {
	mat-form-field {
		width: 100%;
	}

	mat-toolbar {
		padding-top: 0px;
		font-size: 1em;
		height: 72px;
	}

	.completion-date {
		margin-top: 1px;
	}

	.description-row {
		width: 100%;
	}
}
