:host {
	.vehicle-history-container {
		margin: 12px 12px;
	}

	mat-form-field {
		width: 100%;
		padding-top: 16px;
	}

	mat-toolbar {
		padding-top: 4px;
		font-size: 1em;

		mat-toolbar-row.button-row {
			padding: 0;

			button {
				padding-left: 8px;
				padding-right: 8px;
			}

			button:first-of-type {
				padding-left: 16px;
			}

			button:last-of-type {
				padding-right: 0px;
			}

		}
	}

	.completion-date {
		margin-top: 1px;
	}

	.description-row {
		width: 100%;
	}

	.load-more {
		width: 100%;
		margin-top: 16px;
	}
}
