<mat-toolbar fxLayout.lt-sm="column" fxLayoutGap="8px" fxLayout.gt-xs="row">
	<mat-toolbar-row>
		<mat-form-field class="vehicle-selector" floatLabel="always">
			<mat-label>Vehicles in history</mat-label>
			<mat-select
					placeholder="All of my vehicles"
					[(value)]="vehicleId"
					(selectionChange)="onSelectionChange()">
				<mat-option [value]="null">All of my vehicles</mat-option>
				<mat-option *ngFor="let vehicle of myVehicles" [value]="vehicle.vehicleID">
					{{vehicle.year}} {{vehicle.make}} {{vehicle.model}} ({{vehicle.license}})
				</mat-option>
			</mat-select>
		</mat-form-field>
	</mat-toolbar-row>
	<mat-toolbar-row>
		<mat-form-field floatLabel="always">
			<mat-label>Search</mat-label>
			<mat-icon matPrefix>search</mat-icon>
			<input matInput type="text" [(ngModel)]="searchQuery">
			<button mat-button *ngIf="searchQuery" matSuffix mat-icon-button aria-label="Clear" (click)="searchQuery=''">
				<mat-icon>close</mat-icon>
			</button>
		</mat-form-field>
	</mat-toolbar-row>
</mat-toolbar>
<div class="vehicle-history-container">
	<mat-accordion multi="true">
		<mat-expansion-panel *ngFor="let entry of vehicleHistory | filter:searchQuery">

			<mat-expansion-panel-header>
				<mat-panel-title>
					<span class="mat-body-2">{{entry.Year}} {{entry.Make}} {{entry.Model}}</span>
				</mat-panel-title>
				<mat-panel-description fxLayoutAlign="space-between center">
					<!-- Spacer when xs or sm -->
					<div flex *ngIf="!media.isActive('gt-sm')"></div>

					<!-- Work Description when gt-sm -->
					<div fxFlex="nogrow" *ngIf="media.isActive('gt-sm')">
						<!-- Display only the first 3 work description entries to prevent overflow -->
						<!-- CSS flex has issues preventing overflow of text elements, even when width constrained. -->
						<!-- https://www.westerndevs.com/css/Using-Overflow-Ellipsis-in-Inline-Flex/ -->
						<span *ngFor="let line of entry.Description; let last=last; let i = index">
							<ng-container *ngIf="i < 3;">
								{{line}}<ng-container *ngIf="!last">,</ng-container>
							</ng-container>
						</span>
						<span *ngIf="entry.Description.length > 3">&nbsp;...</span>
					</div>

					<!-- Always show completion date floated right -->
					<span class="mat-caption completion-date">{{entry.CompletionDate | date: 'shortDate'}}</span>
				</mat-panel-description>
			</mat-expansion-panel-header>

			<div fxLayout="column" fxLayoutAlign="space-between center" fxFill>
				<div class="description-row">
					<span fxFlex="110px" class="mat-body-2">Order:</span>
					<span>{{entry.OrderId.substring(3)}}</span>
				</div>
				<div class="description-row">
					<span fxFlex="110px" class="mat-body-2">Amount:</span>
					<span>{{entry.Amount | currency:'USD'}}</span>
				</div>
				<div class="description-row" *ngIf="entry.BalanceDue > 0">
					<span fxFlex="110px" class="mat-body-2">Balance due:</span>
					<span>{{entry.BalanceDue | currency:'USD'}}</span>
				</div>
				<div class="description-row">
					<span fxFlex="110px" class="mat-body-2">Odometer:</span>
					<span>{{entry.Odometer}}</span>
				</div>
				<div class="description-row">
					<span class="mat-body-2">Work performed:</span>
					<ul>
						<li *ngFor="let line of entry.Description">{{line}}</li>
					</ul>
				</div>
			</div>

			<mat-action-row>
				<a
					mat-button
					color="accent"
					target="_blank"
					[href]="entry.InvoiceLink | safeUrl">
					View invoice
				</a>
			</mat-action-row>

		</mat-expansion-panel>
	</mat-accordion>
</div>

