<!--<mat-table fxFlex #table [dataSource]="dataSource" [class.isMobile]="isMobile">-->
	<!--<ng-container matColumnDef="vehicle">-->
		<!--<mat-header-cell *matHeaderCellDef> Vehicle </mat-header-cell>-->
		<!--<mat-cell *matCellDef="let element">-->
			<!--{{element.year}} {{element.make}} {{element.model}}-->
			<!--&lt;!&ndash; TODO DJC Commonize or do away with this &ndash;&gt;-->
			<!--&lt;!&ndash;<ma-customer-vehicle-summary&ndash;&gt;-->
				<!--&lt;!&ndash;[vehicle]="element">&ndash;&gt;-->
			<!--&lt;!&ndash;</ma-customer-vehicle-summary>&ndash;&gt;-->
		<!--</mat-cell>-->
	<!--</ng-container>-->

	<!--<ng-container matColumnDef="date">-->
		<!--<mat-header-cell *matHeaderCellDef> Date </mat-header-cell>-->
		<!--<mat-cell *matCellDef="let element">-->
			<!--{{element.date}}-->
		<!--</mat-cell>-->
	<!--</ng-container>-->

	<!--<ng-container matColumnDef="odometer">-->
		<!--<mat-header-cell *matHeaderCellDef> Odometer </mat-header-cell>-->
		<!--<mat-cell *matCellDef="let element">-->
			<!--<span class="mobile-label" style="width:80px">Odometer:</span>-->
			<!--{{element.odometer}}-->
		<!--</mat-cell>-->
	<!--</ng-container>-->

	<!--<ng-container matColumnDef="description">-->
		<!--<mat-header-cell *matHeaderCellDef> Description </mat-header-cell>-->
		<!--<mat-cell *matCellDef="let element">-->
			<!--{{element.description}}-->
		<!--</mat-cell>-->
	<!--</ng-container>-->

	<!--<ng-container matColumnDef="amount">-->
		<!--<mat-header-cell *matHeaderCellDef> Amount </mat-header-cell>-->
		<!--<mat-cell *matCellDef="let element" class="invoice-amount">-->
			<!--<b>${{element.amount}}</b>-->
		<!--</mat-cell>-->
	<!--</ng-container>-->

	<!--<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>-->
	<!--<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>-->
<!--</mat-table>-->


<mat-table fxFlex #table [dataSource]="dataSource">
	<ng-container matColumnDef="vehicle">
		<mat-header-cell *matHeaderCellDef> Vehicle </mat-header-cell>
		<mat-cell *matCellDef="let element" data-label="Vehicle">
			{{element.year}} {{element.make}} {{element.model}}
		</mat-cell>
	</ng-container>

	<ng-container matColumnDef="date">
		<mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
		<mat-cell *matCellDef="let element" data-label="Date">
			{{element.date}}
		</mat-cell>
	</ng-container>

	<ng-container matColumnDef="odometer">
		<mat-header-cell *matHeaderCellDef> Odometer </mat-header-cell>
		<mat-cell *matCellDef="let element" data-label="Odometer">
			{{element.odometer}}
		</mat-cell>
	</ng-container>

	<ng-container matColumnDef="description">
		<mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
		<mat-cell *matCellDef="let element" data-label="Description">
			{{element.description}}
		</mat-cell>
	</ng-container>

	<ng-container matColumnDef="amount">
		<mat-header-cell *matHeaderCellDef> Amount </mat-header-cell>
		<mat-cell *matCellDef="let element" data-label="Amount">
			${{element.amount}}
		</mat-cell>
	</ng-container>

	<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
	<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
