<mat-vertical-stepper *ngIf="scheduleProgress === 'Entry'" [linear]="true" color="accent">
	<!-- Step 1 - Need To Schedule? -->
	<mat-step state="scheduling-viability" color="accent">
		<div fxLayout="column" fxLayoutGap="10px">
			<ng-template matStepLabel icon>Need to schedule?</ng-template>
			<div>
				You don't need to schedule if the only services you need are
				<ul>
					<li *ngFor="let reason of reasonsToAvoidScheduling">
						{{reason}}
					</li>
				</ul>
			</div>
			<div>
				<button mat-button color="accent" matStepperNext>Got it</button>
			</div>
		</div>
	</mat-step>

	<!-- Step 2 - Renting a car? -->
	<mat-step optional="true" state="call-for-rental">
		<div fxLayout="column" fxLayoutGap="10px">
			<ng-template matStepLabel icon>Renting a car?</ng-template>
			<div>
				{{rentalCarBodyText}}
			</div>
			<div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
				<!-- 					ngx-analyticsOn="click"
					angularticsAction="Called"
					angularticsLabel="Appointment scheduling - interested in rental car."
					angularticsCategory="Store"
					-->
				<a mat-button
					color="accent"
					[href]="storeInfo?.PhoneNumberToCall?.NumberForWebLink | safeUrl"

				>
					Call
				</a>
				<button mat-button color="primary" matStepperNext>No thanks, I'll pass</button>
			</div>
		</div>
	</mat-step>

	<!-- Step 3 - Which day? -->
	<mat-step [stepControl]="dateFormGroup" state="pick-day">
		<div fxLayout="column" fxLayoutGap="10px">
			<ng-template matStepLabel icon>Which day?</ng-template>
			<div>{{daySelectionBodyText}}</div>
			<div class="mat-caption">{{daySelectionCaptionText}}</div>
			<form [formGroup]="dateFormGroup" fxLayout="column" fxLayoutGap="15px">
				<mat-form-field fxFlex color="accent">
					<input
							matInput
							formControlName="date"
							(click)="picker.open()"
							[min]="minDate"
							[max]="maxDate"
							[matDatepickerFilter]="dateFilter"
							[matDatepicker]="picker"
							placeholder="Choose a date *" />
					<mat-error *ngIf="date.hasError('required')">Date is required</mat-error>
					<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
					<mat-datepicker (opened)="onDatePickerOpened()" touchUi #picker></mat-datepicker>
				</mat-form-field>

				<div>
					<button mat-button color="accent" matStepperNext>Next</button>
				</div>
			</form>
		</div>
	</mat-step>

	<!-- Step 4 - Which vehicle -->
	<mat-step [stepControl]="vehicleFormGroup" state="pick-vehicle">
		<div fxLayout="column" fxLayoutGap="10px">
			<ng-template matStepLabel icon>Which vehicle?</ng-template>

			<div>
				<div fxFlex></div>
				<mat-button-toggle-group [value]="appointmentType" (change)="onNewOrExistingVehicleChange($event)">
					<mat-button-toggle value="Existing">Existing</mat-button-toggle>
					<mat-button-toggle value="New">New</mat-button-toggle>
				</mat-button-toggle-group>
				<div fxFlex></div>
			</div>

			<form [formGroup]="vehicleFormGroup" fxLayout="column" fxLayoutGap="10px">
				<!-- Known vehicles -->
				<ng-container *ngIf="appointmentType === 'Existing' && myVehicleOptions.length > 0">
					<mat-form-field style="width: 100%" color="accent">
						<mat-select [formControl]="knownVehicle" placeholder="Choose a vehicle *" (selectionChange)="onKnownVehicleChange()">
							<mat-option selected>--</mat-option>
							<mat-option *ngFor="let v of myVehicleOptions" [value]="v.formValue">{{v.viewValue}}</mat-option>
						</mat-select>
						<mat-error *ngIf="knownVehicle.hasError('required')">Vehicle is required</mat-error>
					</mat-form-field>
				</ng-container>

				<!-- Add a new vehicle -->
				<ng-container *ngIf="appointmentType === 'New'">
					<mat-form-field style="width: 100%" color="accent">
						<mat-select formControlName="year" placeholder="Year *" (selectionChange)="onYearChange()">
							<mat-option selected>--</mat-option>
							<mat-option *ngFor="let v of vehicleYears" value="{{v.formValue}}">{{v.viewValue}}</mat-option>
						</mat-select>
						<mat-error *ngIf="year.hasError('required')">Vehicle year is required</mat-error>
					</mat-form-field>

					<mat-form-field style="width: 100%" color="accent">
						<mat-select formControlName="make" placeholder="Make *" (selectionChange)="onMakeChange()">
							<mat-option *ngFor="let v of vehicleMakes" value="{{v.formValue}}">{{v.viewValue}}</mat-option>
						</mat-select>
						<mat-error *ngIf="make.hasError('required')">Vehicle make is required</mat-error>
					</mat-form-field>

					<mat-form-field style="width: 100%" color="accent">
						<mat-select formControlName="model" placeholder="Model *">
							<mat-option *ngFor="let v of vehicleModels" value="{{v.formValue}}">{{v.viewValue}}</mat-option>
						</mat-select>
						<mat-error *ngIf="model.hasError('required')">Vehicle model is required</mat-error>
					</mat-form-field>
				</ng-container>

				<div>
					<button mat-button color="accent" matStepperNext>Next</button>
				</div>
			</form>
		</div>
	</mat-step>

	<!-- Step 5 - Your vehicle's needs -->
	<mat-step [stepControl]="issuesFormGroup" state="list-needs">
		<div fxLayout="column" fxLayoutGap="10px">
			<ng-template matStepLabel icon>What should we look into?</ng-template>
			<form [formGroup]="issuesFormGroup" (ngSubmit)="onSubmit()" fxLayout="column" fxLayoutGap="10px">

				<mat-selection-list color="accent" *ngIf="recommendedServices.length > 0" formControlName="recommendedServices">
					<h3 mat-subheader>Recommended Services</h3>
					<ng-container *ngFor="let rs of recommendedServices">
						<mat-list-option [value]="rs.Id">
							<ma-recommended-service-severity mat-list-icon [severity]="rs.Severity"></ma-recommended-service-severity>
							<h4 mat-line>{{rs.Description}}</h4>
							<i mat-line>{{rs.LastModifiedDate | date:'shortDate'}}</i>
						</mat-list-option>
					</ng-container>
				</mat-selection-list>

<!-- Temporarily removed due to form field validation issues in the following cases -->
<!-- 1) User begins to enter common concern/issue, blurs the field without selecting autocomplete, and enters -->
<!-- 2) User enters an item that is a common concern, and then clears the chip. This results in a form which shouldn't be submitable, but can be. -->

<!--				<mat-form-field style="width: 100%" color="accent">-->
<!--					<mat-chip-list #chipList>-->
<!--						<mat-chip-->
<!--								*ngFor="let issue of issues"-->
<!--								[selectable]="true"-->
<!--								[removable]="true"-->
<!--								(removed)="remove(issue)">-->
<!--							{{issue.viewValue}}-->
<!--							<mat-icon matChipRemove>cancel</mat-icon>-->
<!--						</mat-chip>-->
<!--						<input placeholder="Common concerns and issues"-->
<!--						       #issueInput-->
<!--						       formControlName="commonIssues"-->
<!--						       [matAutocomplete]="auto"-->
<!--						       [matChipInputFor]="chipList"-->
<!--						       [matChipInputSeparatorKeyCodes]="separatorKeysCodes"-->
<!--						       [matChipInputAddOnBlur]="false">-->
<!--					</mat-chip-list>-->
<!--					<mat-autocomplete-->
<!--						#auto="matAutocomplete"-->
<!--						(optionSelected)="addFromAutocomplete($event)">-->
<!--						<mat-option-->
<!--								*ngFor="let issue of filteredIssues | async"-->
<!--								[value]="issue">-->
<!--							{{issue.viewValue}}-->
<!--						</mat-option>-->
<!--					</mat-autocomplete>-->
<!--					<mat-error *ngIf="issuesFormGroup.hasError('atLeastOne')">{{atLeastOneFormFieldRequiredText}}</mat-error>-->
<!--				</mat-form-field>-->

				<mat-form-field color="accent">
					<textarea matInput rows="6" formControlName="issueDescription" placeholder="Other needs or concerns"></textarea>
					<mat-error *ngIf="issuesFormGroup.hasError('atLeastOne')">{{atLeastOneFormFieldRequiredText}}</mat-error>
				</mat-form-field>

				<div>
					<!--
										ngx-analyticsOn="click"
					angularticsAction="Scheduled Appointment"
					angularticsCategory="Appointments"
					-->
					<button
							mat-button
							[disabled]="issuesFormGroup.invalid"
							color="accent"
							type="submit"
							matStepperNext>
						Schedule
					</button>
				</div>
			</form>
		</div>
	</mat-step>

	<!-- Icon overrides. -->
	<ng-template matStepperIcon="scheduling-viability">
		<mat-icon>contact_support</mat-icon>
	</ng-template>
	<ng-template matStepperIcon="call-for-rental">
		<mat-icon>call_end</mat-icon>
	</ng-template>
	<ng-template matStepperIcon="pick-day">
		<mat-icon>event</mat-icon>
	</ng-template>
	<ng-template matStepperIcon="pick-vehicle">
		<mat-icon>directions_car</mat-icon>
	</ng-template>
	<ng-template matStepperIcon="list-needs">
		<mat-icon>assignment</mat-icon>
	</ng-template>
	<ng-template matStepperIcon="done">
		<mat-icon>check_circle</mat-icon>
	</ng-template>

</mat-vertical-stepper>

<div *ngIf="scheduleProgress === 'IsSubmitting'" class="loading-indicator">
	<mat-progress-spinner color="accent" mode="indeterminate"></mat-progress-spinner>
</div>

<div *ngIf="scheduleProgress === 'Success'" class="success-message">
	<div fxLayout="column" fxLayoutAlign="space-between center">
		<mat-icon fxFlex="100px">check_circle</mat-icon>
		<div class="mat-body-2">Appointment scheduled</div>
	</div>
</div>

<div *ngIf="scheduleProgress === 'Fail'" class="fail-message">
	<div fxLayout="column" fxLayoutAlign="space-between center">
		<mat-icon fxFlex="100px">error</mat-icon>
		<div class="mat-body-2">Appointment not scheduled. Please try again later or call to schedule!</div>
	</div>
</div>
