:host {
	/* Absolute Center Spinner */
	.loading-indicator, .success-message {
		position: fixed;
		z-index: 999;
		margin: auto;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		height: 15vh;
		width: 30vw;
	}

	/* Transparent Overlay */
	.loading-indicator:before {
		content: '';
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,0.35);
	}

	.success-message {
		color: green;

		mat-icon {
			font-size: 100px;
		}

		.mat-body-2 {
			text-align: center;
		}
	}

	// Required to make room for selecting recommended services.
	// This removes both the vertical divider line drawn down from the icons
	// in the final step
	::ng-deep mat-vertical-stepper .mat-step:last-of-type .mat-vertical-content-container {
		margin: 0;

		ma-recommended-service-severity {
			margin-bottom: 24px;
			margin-right: 6px;
		}
	}
}
