:host {
	mat-icon {
		color: white;
	}
	.button-container {
		padding-top: 5px;
	}

	.ma-store-address {
		position: absolute;
		right: 10px;
		top: 120px;
		height: 100px;
		color: black;
		z-index: 1000;
	}
}
