:host {
	.vip-rewards-container { // TODO Commonize since its same on all core container pages....
		margin: 12px 12px;
	}

	mat-card {
		width: 90%;
		max-width: 500px;

		mat-card-title {
			text-align: center;
		}
	}

	mat-list {
		&.points-list {
			::ng-deep .mat-list-item-content {
				padding: 0;
			}
		}

		mat-list-item {
			height: 48px !important;
		}
	}

	.point-reward-divider {
		padding: 0 5px;
	}
}
