<div class="mat-subheading-2" *ngIf="customerConcernInspectionItems.length > 0">What you brought it in for</div>
<mat-card *ngFor="let item of customerConcernInspectionItems">
	<mat-card-content>
		<div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
			<ma-recommended-service-severity [severity]="item.Condition"></ma-recommended-service-severity>
			<div class="mat-body-2">{{item.Name}}</div>
		</div>

		<ma-inspection-report-item
				[inspectionItem]="item"
				[isCondensed]="true">
		</ma-inspection-report-item>
	</mat-card-content>
</mat-card>
