@import '../../../../../../themes/material-overrides';

@include ma-mat-accordion();

:host {
	.mat-subheading-2 {
		padding-top: 15px;
		padding-left: 15px;
	}

	mat-card {
		margin-bottom: 15px;
	}
}
