<mat-card *ngIf="workOrder">
	<mat-card-header>
		<mat-card-title>
			<div fxLayout="row" fxLayoutAlign="space-between center">
				<span>Inspection Report</span>
				<!-- TODO: Figure out date parsing, or improved BE serialization -->
				<span>{{workOrder.CompletionDate}}</span>
			</div>
		</mat-card-title>
		<mat-card-subtitle>Order # {{workOrder.Id?.substring(3)}}</mat-card-subtitle>
	</mat-card-header>
	<mat-card-content >
		<div class="mat-body-1">{{workOrder.Customer?.Name}}</div>

		<ma-customer-vehicle-summary [vehicle]="workOrder?.Vehicle"></ma-customer-vehicle-summary>
	</mat-card-content>
</mat-card>

<nav mat-tab-nav-bar *ngIf="inspectionId">
	<a mat-tab-link
	   *ngFor="let route of routeLinks; let i = index;"
	   #rla="routerLinkActive"
	   [active]="activeLinkIndex === i"
	   [routerLink]="route.link"
	   [routerLinkActive]=""
	   [routerLinkActiveOptions]="{exact: true}"
	   (click)="activeLinkIndex = i"
	>
		{{route.label}}
	</a>
</nav>

<router-outlet></router-outlet>
