<mat-card *ngIf="workOrder" class="work-order-details" fxLayout="column" fxLayoutAlign="space-between start" fxLayoutGap="20px">
	<mat-card-content fxLayout="row" fxLayoutAlign="space-between center">
		<span class="mat-headline">Inspection Report for Order #{{workOrder.Id?.substring(3)}} (Tech: {{workOrder?.EmployeeId}})</span>
	</mat-card-content>

	<div *ngIf="workOrder.Customer"
	     fxLayout="row"
	     fxLayoutAlign="start center" fxFill>
		<span> {{workOrder.Customer.Name}} (ID: {{workOrder.Customer.Id}})</span>
		<mat-icon *ngIf="!!workOrder.Customer.WaitingSinceDate" class="customer-waiting" title="Customer Waiting">assignment_ind</mat-icon>
		<mat-icon *ngIf="!!workOrder.Status && workOrder.Status.Code == 22" class="action-required" title="Action Required">notifications_active</mat-icon>
	</div>

	<ma-customer-vehicle-summary [vehicle]="workOrder?.Vehicle" [viewMode]="'Full'"></ma-customer-vehicle-summary>

	<div class="mat-body-1" *ngIf="workOrder.WorkDescription">
		<b>Work Description</b>
		<div class="ma-respect-whitespace">{{workOrder.WorkDescription}}</div>
	</div>

	<div class="mat-body-1" *ngIf="workOrder.Notes">
		<b>Work Order Notes</b>
		<div class="ma-respect-whitespace">{{workOrder.Notes}}</div>
	</div>
</mat-card>

<nav mat-tab-nav-bar *ngIf="inspectionId">
	<a mat-tab-link
	   *ngFor="let routeLink of routeLinks;"
	   [routerLink]="routeLink.link"
	   routerLinkActive=""
	   #rla="routerLinkActive"
	   [active]="routeLink.isActive"
	   [routerLinkActiveOptions]="{exact: true}">
		{{routeLink.label}}
	</a>
</nav>

<router-outlet></router-outlet>
