<mat-card *ngIf="workOrder">
	<mat-card-content >
		<div fxLayout="row" fxLayoutAlign="space-between center">
			<span class="mat-headline">Inspection Report</span>
			<!-- TODO: Figure out date parsing, or improved BE serialization -->
			<!--<span>{{workOrder.CompletionDate}}</span>-->
		</div>

		Order # {{workOrder.Id?.substring(3)}}
		<div class="mat-body-1">{{workOrder.Customer?.Name}}</div>

		<ma-customer-vehicle-summary [vehicle]="workOrder?.Vehicle"></ma-customer-vehicle-summary>
	</mat-card-content>
</mat-card>

<nav mat-tab-nav-bar *ngIf="inspectionId">
	<a mat-tab-link
	   *ngFor="let routeLink of routeLinks;"
	   [routerLink]="routeLink.link"
	   routerLinkActive=""
	   #rla="routerLinkActive"
	   [active]="routeLink.isActive"
	   [routerLinkActiveOptions]="{exact: true}">
		{{routeLink.label}}
	</a>
</nav>

<router-outlet></router-outlet>
