:host {
	mat-icon {
		font-size: 30px;

		&.customer-waiting {
			color: royalblue;
			margin-left: 15px;
		}

		&.action-required {
			color: red;
		}
	}

	.long-text {
		width: 600px;
	}

	::ng-deep {
		.mat-card-header-text {
			width: 100%;
		}

		.mat-card {
			padding-top: 5px;
			box-shadow: none !important;
		}
	}
}

