:host {
	mat-icon {
		font-size: 30px;

		&.customer-waiting {
			color: royalblue;
			margin-left: 15px;
		}

		&.action-required {
			color: red;
		}
	}

	.work-order-details {
		padding-bottom: 10px;
		padding-left: 10px;
		padding-right: 10px;
	}
}

