<mat-icon [ngClass]="getIconColor()" [ngSwitch]="severity">
	<ng-container *ngSwitchCase="'Immediate'">warning</ng-container>
	<ng-container *ngSwitchCase="'Moderate'">alarm</ng-container>
	<ng-container *ngSwitchCase="'ShouldWatch'">remove_red_eye</ng-container>
	<ng-container *ngSwitchCase="'Maintenance'">date_range</ng-container>
	<ng-container *ngSwitchCase="'Notes'">description</ng-container>
	<ng-container *ngSwitchCase="'Ok'">check_circle</ng-container>
	<ng-container *ngSwitchDefault>not_interested</ng-container>
</mat-icon>
