<b>Vehicle Details</b>

<div *ngIf="viewMode === 'Full'"
     fxLayout="column"
     fxLayoutAlign="space-between start"
     fxLayoutGap="20px"
     fxFill
     class="mat-body-1">
	<div  fxFill>
		<div class="mat-subheading-2">
			<span>
				{{vehicle?.Year}}
				{{vehicle?.Make}}
				{{vehicle?.Model}}
			</span>
			<span>
				{{vehicle?.License}}
			</span>
			<span *ngIf="vehicle?.Color" class="car-color-indicator" [ngStyle]="{'background-color': vehicle.Color}"></span>
		</div>
		<div fxLayout="row" fxLayoutAlign="space-between center">
			<div>{{vehicle?.VIN}}</div>
			<div>VIN</div>
		</div>
		<div fxLayout="row" fxLayoutAlign="space-between center">
			<div>{{vehicle?.Odometer}}</div>
			<div>Odometer</div>
		</div>
		<div fxLayout="row" fxLayoutAlign="space-between center">
			<div>{{vehicle?.Engine}}</div>
			<div>Engine</div>
		</div>
		<div fxLayout="row" fxLayoutAlign="space-between center">
			<div>{{vehicle?.Transmission}}</div>
			<div>Transmission</div>
		</div>
	</div>

	<div *ngIf="!!vehicle.Options" fxLayout="row" fxLayoutAlign="space-between center" fxFill>
		<mat-checkbox [disabled]="true" [(ngModel)]="vehicle.Options.Has4WD">4WD</mat-checkbox>
		<mat-checkbox [disabled]="true" [(ngModel)]="vehicle.Options.HasAWD">AWD</mat-checkbox>
		<mat-checkbox [disabled]="true" [(ngModel)]="vehicle.Options.HasAC">AC</mat-checkbox>
		<mat-checkbox [disabled]="true" [(ngModel)]="vehicle.Options.HasABS">ABS</mat-checkbox>
	</div>

	<div *ngIf="vehicle.Notes">
		<b>Vehicle Notes</b>
		<div *ngFor="let line of vehicle.Notes"> {{line}}</div>
	</div>

</div>

