<div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxLayoutAlign="space-around center" fxLayoutGap="8px" class="my-coupons-container">
	<!--<ma-coupon-card-->
			<!--fxFlex-->
			<!--*ngFor="let coupon of coupons"-->
			<!--[imgSrc]="coupon.imgSrc">-->
	<!--</ma-coupon-card>-->

	<h2 class="mat-title">General offers</h2>

	<ma-coupon-card
			fxFlex
			*ngFor="let coupon of generalOffers"
			[imgSrc]="coupon.imgSrc">
	</ma-coupon-card>

	<div style="height: 50px"></div>
	<h2 class="mat-title">Tire offers</h2>

	<ma-coupon-card
			fxFlex
			*ngFor="let coupon of tireOffers"
			[imgSrc]="coupon.imgSrc">
	</ma-coupon-card>
</div>
