:host {
	mat-card {
		min-width: 300px;
		max-width: 400px;

		max-height: 320px;

		padding: 0; // Remove card padding for progress bar
	}

	form {
		padding: 16px; // Re-add padding for the form elements
	}

	mat-progress-bar {
		border-radius: 2px 2px 0 0;
	}

	h2 {
		text-align: center;
	}
}
