<div fxFill fxLayout="column" fxLayoutAlign="center center">
	<mat-card fxFlex>
		<mat-progress-bar *ngIf="showProgress" mode="indeterminate" color="accent"></mat-progress-bar>
		<form fxLayout="column" fxLayoutGap="20px" [formGroup]="loginForm" (ngSubmit)="submit()">
			<h2 class="mat-title">MyCar</h2>

			<mat-form-field>
				<input matInput placeholder="Username *" type="text" formControlName="username">
				<mat-error *ngIf="loginForm.controls.username.hasError('required')">Username is required</mat-error>
			</mat-form-field>

			<mat-form-field>
				<input matInput placeholder="Password *" type="password" formControlName="password">
				<mat-error *ngIf="loginForm.controls.password.hasError('required')">Password is required</mat-error>
				<mat-error *ngIf="loginForm.controls.password.hasError('incorrect')">Incorrect username or password</mat-error>
			</mat-form-field>

			<button mat-raised-button
			        color="primary"
			        type="submit"
			        [disabled]="!loginForm.valid">
				Login
			</button>
		</form>
	</mat-card>
</div>
