<mat-card>
	<mat-card-header fxFlexFill>
<!--		<ma-recommended-service-severity -->
<!--				mat-card-avatar-->
<!--				[severity]="recommendedServiceSeverity">-->
<!--		</ma-recommended-service-severity>-->
		<mat-card-title>
			{{year}} {{make}} {{model}}
		</mat-card-title>
		<mat-card-subtitle>
			{{license}}
		</mat-card-subtitle>

<!--		<div fxFlex></div>-->

<!--		<button mat-icon-button [matMenuTriggerFor]="menu">-->
<!--			<mat-icon class="menu-button">more_vert</mat-icon>-->
<!--		</button>-->
<!--		<mat-menu #menu="matMenu">-->
<!--			<button mat-menu-item>-->
<!--				<mat-icon>loyalty</mat-icon>-->
<!--				<span>Coupons</span>-->
<!--			</button>-->
<!--			<button mat-menu-item>-->
<!--				<mat-icon>history</mat-icon>-->
<!--				<span>History</span>-->
<!--			</button>-->
<!--		</mat-menu>-->
	</mat-card-header>

	<mat-card-content>
		<div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="space-between center">
			<div *ngIf="nextOilChangeDate && nextOilChangeOdometer">
				<p>Next service due</p>
				<ul>
					<li>Date: {{nextOilChangeDate | date:'shortDate'}}, or</li>
					<li>Mileage: {{nextOilChangeOdometer | number: '': 'en-US' }}</li>
				</ul>
			</div>
		</div>
	</mat-card-content>

	<mat-card-actions>
		<button
				[disabled]="recommendedServices.length === 0"
				mat-button
				(click)="openRecommendedServicesDialog()"
				color="accent"
				ngx-analyticsOn="click"
				angularticsAction="Opened Services Needed"
				angularticsLabel="Vehicle Card - Dialog"
				angularticsCategory="Recommended Services">
			<ma-recommended-service-severity [showHelpText]="false" [severity]="recommendedServiceSeverity"></ma-recommended-service-severity>

			<ng-container *ngIf="recommendedServices.length === 0">
				No service needed
			</ng-container>
			<ng-container *ngIf="recommendedServices.length > 0">
				Service needed
			</ng-container>
		</button>
		<button [routerLink]="['/schedule/', vehicleId]" mat-button color="accent">Schedule</button>

		<div fxFlex></div>

		<button
				mat-icon-button
				[matMenuTriggerFor]="menu"
				ngx-analyticsOn="click"
				angularticsAction="Opened Menu"
				angularticsLabel="More Items"
				angularticsCategory="Vehicle">
			<mat-icon class="menu-button">more_vert</mat-icon>
		</button>
		<mat-menu #menu="matMenu">
			<button [routerLink]="['/coupons/', vehicleId]" mat-menu-item>
				<mat-icon>loyalty</mat-icon>
				<span>Coupons</span>
			</button>
			<button [routerLink]="['/history/', vehicleId]" mat-menu-item>
				<mat-icon>history</mat-icon>
				<span>History</span>
			</button>
		</mat-menu>
	</mat-card-actions>
</mat-card>
