<mat-accordion [displayMode]="'flat'">

	<div class="mat-subheading-2">Your vehicle concerns</div>
	<mat-expansion-panel
			*ngFor="let item of customerConcernInspectionItems"
			[disabled]="!shouldExpand(item)"
			[hideToggle]="!shouldExpand(item)">
		<mat-expansion-panel-header>
			<mat-panel-title fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
				<ma-recommeneded-service-severity [severity]="item.Condition"></ma-recommeneded-service-severity>
				<div class="mat-body-2">{{item.Name}}</div>
			</mat-panel-title>
		</mat-expansion-panel-header>

		<ma-inspection-report-item
				[inspectionItem]="item"
				[isCondensed]="true">
		</ma-inspection-report-item>
	</mat-expansion-panel>

	<div class="mat-subheading-2">Full inspection report</div>
	<mat-expansion-panel
			*ngFor="let item of inspectionItems"
			[disabled]="!shouldExpand(item)"
			[hideToggle]="!shouldExpand(item)">
		<mat-expansion-panel-header>
			<mat-panel-title fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
				<ma-recommeneded-service-severity [severity]="item.Condition"></ma-recommeneded-service-severity>
				<div class="mat-body-2">{{item.Name}}</div>
			</mat-panel-title>
		</mat-expansion-panel-header>

		<ma-inspection-report-item
				[inspectionItem]="item"
				[isCondensed]="true">
		</ma-inspection-report-item>
	</mat-expansion-panel>
</mat-accordion>
