/* You can add global styles to this file, and also import other style files */
@import 'murphy-auto.theme.scss';

@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';

body {
	margin: 0;
}

.ma-divider {
	display: block;
	border-top: 1px solid rgba(0, 0, 0, 0.24);
	margin: 0;
}

.ma-print-version-only {
	visibility: hidden;
}

@media print {
	.ma-print-version-only {
		visibility: visible;
	}

	%ma-digital-version-only {
		display: none !important;
	}

	// Auto expand accordions when printed
	.mat-expansion-panel-content {
		height: inherit !important;
		visibility: visible !important;
	}

	// Auto hide accordion icons for both "By Area" and "By Priority"
	.mat-expansion-panel-header .mat-expansion-indicator {
		@extend %ma-digital-version-only;
	}

	// For "By Area", auto hide category severity
	ma-inspection-report-group .mat-expansion-panel-header ma-recommeneded-service-severity {
		@extend %ma-digital-version-only;
	}

	// Hide any ui buttons, since no interactions on paper
	a mat-icon, button, mat-button, nav {
		@extend %ma-digital-version-only;
	}
}
